*{
background-color: #221e3a;
color: #9ad8e6;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
h1 {
  font-size: 36px;
}
.todo {
  display: flex;
}
.todoText {
  cursor: pointer;
  user-select: none;
  list-style-type: none;
}
.removeTodoButton {
  width: 30px;
  background-color: red;
}


