.inputSection {
  width: 600px;
  display: flex;
  justify-content: space-around;
}
.todoInput {
  width: 88%;
  height: 24px;
  text-align: center;
  font-size: 16px;
}
.addTodoButton {
  width: 10%;
  height: 24px;
  text-align: center;
}